.gradientBorder {
  --gradient-border-mask: linear-gradient(#fff 0 0);
}

.gradientBorder::before {
  content: "";
  position: absolute;
  inset: var(--space-0);
  padding: var(--space-px);
  border-radius: inherit;
  background: var(--gradient-border-background, var(--theme-gradient-border));
  pointer-events: none;
  -webkit-mask:
    var(--gradient-border-mask) content-box,
    var(--gradient-border-mask);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
